
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #f19408;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
}


.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links ul li {
    margin-left: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-links ul li a:hover {
    background-color: #d17a04;
    border-radius: 5px;
}


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin-top: 100px; 
}

.blog-logo h1 {
    font-size: 48px;
    color: #333;
   
}
